<?php
namespace SEOshop\BusinessLogic\<COMPONENT>\Exception;

use SEOshop\BusinessLogic\Core\Exception\Exception;

/**
 * Class <COMPONENT>Exception
 *
 * @codeCoverageIgnore
 *
 * @package <COMPONENT>
 */
class <COMPONENT>Exception extends Exception
{
}
