<?php
namespace Repository;

use <MODELCLASS>Query;
use Repository\Contract\<MODELCLASS>RepositoryInterface;
use <USEPARENT>;

/**
 * Class <MODELCLASS>Repository
 *
 * @method \<MODELCLASS>Query getQuery($withI18n = false) Gets the entity Query
 * @method \<MODELCLASS> getModel() Gets empty entity
 *
 * @package <COMPONENT>
 */
class <MODELCLASS>Repository extends <PARENTCLASS> implements <MODELCLASS>RepositoryInterface
{
    const MODEL = "<MODELCLASS>";
}
