<?php
namespace Repository\Contract;

use <MODELCLASS>;
use <MODELCLASS>Collection;
use ORM\<MODELCLASS>Query;
use SEOshop\Backend\BigD\Runtime\Contract\RepositoryInterface;

/**
 * Interface <MODELCLASS>RepositoryInterface
 *
 * @method <MODELCLASS>Query getQuery($withI18n = false) Gets the entity Query
 * @method <MODELCLASS> getModel() Gets empty entity
 *
 * @package <COMPONENT>
 */
interface <MODELCLASS>RepositoryInterface extends RepositoryInterface
{
}
