<?php
namespace SEOshop\BusinessLogic\<COMPONENT>;

/**
 * Class <COMPONENT>ServiceManager
 *
 * @package <COMPONENT>
 */
class <COMPONENT>ServiceManager
{
    /**
     */
    public function __construct(
    ) {
    }
}
